

.marcoFoto {
    overflow: hidden;
    width:50%;
    border: 5px solid #FFF;
    box-sizing:border-box;
    float:left;
}

img:hover{
    transition:.2s;
    transform:scale(1.3);
}

img{
    height: 100%;
    width: 100%;
}