
<div class="fondo ">

            
    <header class="row">
        <div id="titulo">DRUM PARADISE</div>  <img [src]="logo" [alt]="logoalt" width="100">
    </header>
  
    <main class="row center-block">
         <a [routerLink]="['/hoteles','usuario']" >Hoteles</a>  <a id="uncm" [routerLink]="['/pistas']" (mouseover)="imposible()">Pistas</a>  
    </main>
   
    

    

    <img id="imgMov" [src]="imgSnow" [alt]="logoalt" width="100">
    

</div>
   
<footer>
    <ul class="row">
        <li>colaboradores</li>
        <li>ubicacion</li>
        <li>quienes somos</li>
        <li>contacta con nosotros</li>
    </ul>
</footer>