
.fondo{
    background-color: lightskyblue;
}
.puntuacion{
    text-decoration: underline green; 
    font-weight: bolder;
}

.marcoFoto {
    overflow: hidden;
    width:33%;
    border: 5px solid #FFF;
    box-sizing:border-box;
    float:left;
}

img:hover{
    transition:.2s;
    transform:scale(1.3);
}

.miCard{
    height: 400px;
}
 .miScroll{
        position: relative;
        overflow-y: scroll;
        height: 200px; 
        scrollbar-color: #00bcd4 #F5F5F5;
 }